<!DOCTYPE html>
<html lang="eng" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework</title>
</head>

<body>
<h1>Authors List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    <tr th:each="author : ${author}">
        <td th:text="${author.id}">12123</td>
        <td th:text="${author.firstName}">Nadir</td>
        <td th:text="${author.lastName}">Jabbarli</td>
    </tr>

</table>
</body>
</html>